.App {
  text-align: center;
}

.app_image {
  object-fit: contain;
  width: 100px;
}
.app__form {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  background-color: #e9e9e9;
  width: 98%;
  margin-left: 0px;
  padding: 10px;
}
.app__formcontrol {
  display: flex !important;
  flex-direction: row !important;
}
.app__formcontrol__input {
  flex: 1;
}
.app__formcontrol__icon {
  flex: 0;
}
